Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Perform arithmetic operations
* Create titles with H1 style (maximum size)
* Create tables
* List data science tools
* Create a new notebook with a specific name

Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy
4. Scikit-learn
5. Seaborn

Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| ------------------ |
| Visual Studio Code |
| RStudio |
| Jupyter Notebook |

Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

Create a code cell to multiply and add numbers

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

Create a code cell to convert minutes to hours

In [3]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Insert a markdown cell to list Objectives

Create a markdown cell to indicate the Author's name

## Author
Gon√ßalo Ferreira